<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Books</title>
    <link rel="stylesheet" href="{% static 'css/viewbook.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="{% static 'js/header.js' %}"></script>
</head>
<body>

    <section class="main-section">
        {% if user.is_staff %}
            <!-- Content for admin -->
            <script>
                var isAdmin = true;
                createHeader('Available Books', isAdmin);
            </script>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

            <table id="bookTable" class="book-table">
                <thead>
                    <tr>
                        <th>Book Cover</th>
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="bookTableBody">
                    {% for book in books %}
                        <tr>
                            <td>
                                <img width="100px" src="{{ book.cover.url }}" alt="">
                            </td>
                            <td>
                                {{ book.name }} by {{ book.author }}
                            </td>
                            <td>
                                <a href="{% url 'bookdetails' book.id %}">View Details</a>
                                <button onclick="window.location.href='{% url 'editbook' book.id %}'" class="button">Edit</button>

                                <form id="deleteForm{{ book.id }}" method="post" action="{% url 'delete_book' book.id %}" style="display: none;">
                                    {% csrf_token %}
                                    <input type="hidden" name="book_id" value="{{ book.id }}">
                                </form>
                                <button class="delete-button" onclick="return confirm('Are you sure you want to delete this book?')" form="deleteForm{{ book.id }}">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- Content for regular users -->

            <script>
                var isAdmin = false;
                createHeader('Available Books', isAdmin);
            </script>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="filter-buttons">
                <a href="?filter=all" class="filter-button {% if filter_option == 'all' %}active{% endif %}">All Books</a>
                <a href="?filter=not_available" class="filter-button {% if filter_option == 'not_available' %}active{% endif %}">Not Available Books</a>
                <a href="?filter=not_borrowed" class="filter-button {% if filter_option == 'not_borrowed' %}active{% endif %}">Available Books</a>
            </div>

            <section class="book-section" id="bookSection">
                {% for book in books %}
                    <div class="book-container">
                        <div class="book-cover-container">
                            <a href="{% url 'bookdetails' book.id %}">
                                <img class="book-cover" src="{{ book.cover.url }}" alt="{{ book.name }} Cover" width="170">
                            </a>
                        </div>
                        {% if not book.is_borrowed %}
                            <form method="post" action="{% url 'borrow_book' book.id %}">
                                {% csrf_token %}
                                <button type="submit" class="borrow-book-button">Borrow</button>
                            </form>
                        {% else %}
                            {% if book.borrowed_by == request.user %}
                                <span class="borrowed-label">Borrowed</span>
                            {% else %}
                                <span class="borrowed-label">Not Available</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    </section>
</body>
</html>